# Autogen
**/build/
_sdk/pynomata/tests/output/*
!_sdk/pynomata/tests/output/.keep
**/__pycache__/
**/imgui.ini
Intermediate/
Saved/
Binaries/

# Install artifacts
Source/KinomataLibrary/win*/
Source/KinomataLibrary/linux*/
Source/KinomataLibrary/macos*/

# --- Editor & IDE Files ---
# ----- VS Code
.cache/
*.vscode-workspace
# ----- Vim
*.swp
# ---- Visual Studio
*.vsconfig
*.sln
.vs/
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.psess
*.vsp
*.vspx
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
*.ntvs_analysis.dat
*.plg
*.opt
*.[Cc]ache
FakesAssemblies/
.visuallint/
*.VC.opendb
*.VC.db
*.suo
*.user
*.userosscache
*.sln.docstates
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
# ------- Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.xcworkspacedata
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
# ---- JetBrains (IntelliJ, CLion, etc.)
.idea

# Common OS
# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
# Linux
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
nohup.out
# macOS
.DS_Store
__MACOSX/
.AppleDouble
.LSOverride

._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

